{% extends 'base.html' %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    Тут я ничего не буду размещать, и ничего не буду менять, спринт дикий, завтра начнется новый,
    а я с трудом понимаю что нужно делать.
    Картинки, блоки, элементы бустрап, это все круто, но у меня не получается пройти тесты после правок ревью
  </p>
  <center><iframe src="https://giphy.com/embed/l4FGov7bs4bOK6AGk" width="480" height="208" frameBorder="3"
      class="giphy-embed" allowFullScreen></iframe></center>
{% endblock %}